.navbar{

    background-color: #333;
    color:#fff;
    padding:20px;
    display:flex;
    height:100px;
    align-items: center;
    justify-content: space-between;
}

.brand-name{
    font-size: 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:flex;
 
   
  }
  
  li {
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:1.4rem;
  }
  
  li a:hover {
    background-color: #111;
  }